.checkout {
    display: flex;
    padding: 20px;
    background-color: white;
    height: max-content;
}

.checkout__ad {
    margin-bottom: 10px;
    width: 100%;
}

.checkout__title {
    margin-right: 10px;
    padding: 10px;
    border-bottom: 1px solid lightgrey;
    text-align: center;
}

div > h3 {
    text-align: center;
}

@media only screen and (min-width: 220px) and (max-width: 768px)  {
    .checkout {
        flex-direction: column-reverse;  
    }
    div > h3 {
        font-size: 19px;
        text-align: center;
    }
    .checkout__title {
        font-size: 25px;

    }
}

